<div class="container is-fluid">
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li class="is-active">
        <a>
          <span class="icon is-medium">
            <i class="fa fa-clone" aria-hidden="true"></i>
          </span>
          <span>Forms</span>
        </a>
      </li>
      <li class="">
        <a routerLink="/forms/add-form">
          <span class="icon is-medium">
            <i class="fa fa-clone" aria-hidden="true"></i>
          </span>
          <span>Add Forms</span>
        </a>
      </li>
    </ul>
  </nav>
</div>