.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030
}

.navbar {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
}

.header {
    background-color: #010812;
    height: 56px;
}
